[run]
source = dns_prove
omit = 
    tests/*
    setup.py
    docs/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError 